@import "tailwindcss";
@config "../../tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --font-inter: Inter, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --background: 0 0% 100%;
    --color-mint-500: oklch(0.72 0.11 178);
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --input: 240 5.9% 90%;
    --default-font-family: "Inter";
    --sidebar-width: 16rem; 
    --sidebar-width-icon: 3rem;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}
@layer base {
    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: var(--background);
        --sidebar-foreground: var(--foreground);
        --sidebar-primary: var(--primary);
        --sidebar-primary-foreground: var(--primary-foreground);
        --sidebar-accent: var(--accent);
        --sidebar-accent-foreground: var(--accent-foreground);
        --sidebar-border: var(--border);
        --sidebar-ring: var(--ring);
    }
    * {
        @apply border-border font-inter;
        border-color: hsl(var(--border));
        scrollbar-width: thin;
        scrollbar-color: hsl(var(--border)) transparent;
    }
    body {
        @apply min-h-svh w-full bg-background text-foreground;
    }
    button {
        cursor: pointer !important;
    }
    [type="checkbox"]:indeterminate {
        @apply bg-primary;
    }
    [type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
        @apply cursor-pointer;
    }
    .dark [type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
    [type="radio"]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
        @apply cursor-pointer;
    }
    .dark [type="radio"]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
        @apply cursor-pointer;
    }

    [type="checkbox"]:checked,
    [type="radio"]:checked {
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    [type="checkbox"],
    [type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        display: inline-block;
        vertical-align: middle;
        background-origin: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        flex-shrink: 0;
        height: 1rem;
        width: 1rem;
        color: #2563eb;
        background-color: #fff;
        border-color: #d4d4d8;
        border-width: 1px;
        --tw-shadow: 0 0 #0000;
        cursor: pointer;
    }
    .checkbox-group .checkbox-item {
        @apply border rounded-md px-3 py-2 cursor-pointer shadow-sm hover:bg-[#FAFAFA];
    }
    .dropdown-item a {
        @apply flex w-full gap-2 items-center;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-inner-spin-button,
    input[type="time"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    .ql-toolbar {
        @apply !border-input shadow-sm rounded-t-md;
    }
    .cke_top {
        border-color: hsl(var(--input)) !important;
        background-color: var(--color-white) !important;
    }
    .cke_bottom {
        border-color: hsl(var(--input)) !important;
        background-color: var(--color-white) !important;
    }
    .input-otp::-webkit-inner-spin-button,
    .input-otp::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    
    .datepicker-input .flatpickr-wrapper{
        width: 100%;
    }
}
[x-cloak] {
    display: none !important;
}

@media (width < 40rem) {
    .combobox-content {
        left: 0px !important;
        top: 0px !important;
        position: relative !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-bottom: 0px;
    }
}
